extends layout

block content
  .container-fluid.text-center
    .row.content
      .col-sm-2.sidenav
        p
          a(href="#") Link
          a(href="#") Link
          a(href="#") Link
          a(href="#") Link
      .col-sm-8.text-left
        h1 Chess
        div(id="board1" style="width: 400px")

      .col-sm-2.sidenav
        .well
          p
            CHAT
        .well
          p
            CHAT


            script(src="/socket.io/socket.io.js")
            script(src="js/jquery-3.1.1.js")
            script(src="js/chessboard-0.3.0.js")
            script(src="../chess_codes/chessGame.js")
            script(src="../chess_codes/chessMinimax.js")
            script.
              $(document).ready(function() {
                    var chess = new chessGame();
                    var socket = io();

                    socket.emit('ready');
                    var onDrop = function(source, target, piece, newPos, oldPos, orientation) {
                        socket.emit('drop piece', {from: source, to: target})
                    }
                    var board1 = ChessBoard('board1', {
                        draggable: true,
                        position: 'start',
                        dropOffBoard: 'snapback',
                        onDrop: onDrop
                    });
                    socket.on('board', function(position) {
                        board1.position(position);
                        socket.emit('ready');
                    })
                });
