extends layout

block content
  .jumbotron
    .container.text-center
      h1= title
      br
      p Machines Learning Games

  .container-fluid.bg-3.text-center#games-grid
    .row
      .col-sm-3
        a(href="/chess")
          img(src="/img/chess_board.gif" class="img-responsive" style="width:100%" alt="Chess")
    //
      .col-sm-3
        a(href="#")
          img(src="/img/checkers_board.jpg" class="img-responsive" style="width:100%" alt="Checkers")
      .col-sm-3
        a(href="#")
          img(src="/img/sudoku_board.jpg" class="img-responsive" style="width:100%" alt="Sudoku")
