extends layout

block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class="navbar-brand" href="#") TN
      .collapse.navbar-collapse#myNavbar
        ul.nav.navbar-nav
          li.active
            a(href="/") Home
          li
            a(href="#") About
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Login
              span.glyphicon.glyphicon-log-in

  .jumbotron
    .container.text-center
      h1= title
      p Machines Learning Games

  .container-fluid.bg-3.text-center
    .row
      .col-sm-3
        a(href="/chess")
          img(src="/img/chess_board.gif" class="img-responsive" style="width:100%" alt="Chess")
      .col-sm-3
        a(href="#")
          img(src="/img/checkers_board.jpg" class="img-responsive" style="width:100%" alt="Checkers")
      .col-sm-3
        a(href="#")
          img(src="/img/go_board.jpg" class="img-responsive" style="width:100%" alt="Go")
      .col-sm-3
        a(href="#")
          img(src="/img/sudoku_board.jpg" class="img-responsive" style="width:100%" alt="Sudoku")


  //
    .jumbotron
      .container
        h1.display-3.text-center= title
